<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pajokka.manggala.maki">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MakiProject"
        tools:targetApi="m">
        <activity android:name="com.pajokka.manggala.maki.SignUpActivity"></activity>
        <activity android:name="com.pajokka.manggala.maki.ui.signin.SignInActivity" />
        <activity android:name="com.pajokka.manggala.maki.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pajokka.manggala.maki.DetailActivity" />
        <activity android:name="com.pajokka.manggala.maki.ui.lapor.ReportActivity" />
        <activity
            android:name="com.pajokka.manggala.maki.MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>